.home-page {
    height: 100%;
    width: 100%;
}

.home-page {
    height: 100%;
    width: 100%;
}

.home_page_window {
    margin-left: 1%;
    height: 720px;
    width: 1750px;
    background: white;
    display: flex;
    justify-content: center;
}
#previous_walk_container {
    display: flex;
    justify-content: center;
    align-self: center;
    border: 10px solid black;
    height: 85%;
    width: 80%;
    Font: grey
}