/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  height: 100%;
  background-image: url("https://images.theconversation.com/files/223380/original/file-20180615-85830-1m127xe.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  height: 100%;
}

main {
  height: 88%;
}

#root > div {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root div header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}


h1 {
  color: rgb(129, 28, 201);
  font-family: 'helvetica neue';
  font-size: 36px;
  font-weight: 200;
}

h3 {
  font-size: 24px;
  color: white;
    background-color: rgb(144, 63, 179);
    opacity: 0.75;
    width: 50%;
    height: 50%;
    justify-content: center;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

h4 {
font-size: 24px;
color: white;
    background-color: rgb(144, 63, 179);
    opacity: 0.75;
    width: 50%;
    height: 50%;
    justify-content: center;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}