.login-signup {
    min-height: 38.992px;
    min-width: 128.832px;
}

.login-signup a {
    color: black;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
}

.login-signup a:hover {
    background:#f5f5f5;
    padding: 6px;
    border-radius: 5px;
}

.login-signup a:last-of-type {
    color: white;
    background-color: #1ddd7c;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
}



.login-signup a:last-of-type:hover {
    color: white;
    background-color: #139b57;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
}