.login-form-container {
    height: 75%;
    display: flex;
    justify-content: space-around;
}

.login-form-box {
    min-height: 300px;
    min-width: 213px;
    max-height: 300px;
    max-width: 500px;
    height: 69%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(144, 63, 179);
    opacity: 96%;
    width: 65%;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.login-form-box div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-form input {
    align-self: center;
    width: 66%;
    border: 1px solid lightgreen;
    border-radius: 5px;
    padding: 10px;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=password]:focus {
    background-color: lightblue;
}

.session-submit {
    color: white;
    background-color: #1ddd7c;
}

.session-submit:hover {
    color: white;
    background-color: #139b57;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.welcomeImg {
object-fit: scale-down;
}