.login-form-box {
    height: 66%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(144, 63, 179);
    opacity: 0.75;
    width: 55%;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.login-form-box div {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-form input {
    width: 99%;
    border: 1px solid lightgreen;
    border-radius: 5px;
    padding: 6px;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=password]:focus {
    background-color: lightblue;
}

.session-submit {
    color: white;
    background-color: #1ddd7c;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
}

.session-submit:hover {
    color: white;
    background-color: #139b57;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
}