.login-form-container {
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://www.rei.com/dam/kona_hiking_with_dogs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form-box {
    min-height: 300px;
    min-width: 213px;
    max-height: 300px;
    max-width: 500px;
    height: 69%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(144, 63, 179);
    opacity: 96%;
    width: 65%;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.login-form-box div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-form input {
    align-self: center;
    width: 66%;
    border: 1px solid lightgreen;
    border-radius: 5px;
    padding: 10px;
}

#errors li{
    text-align: center;
    color: red;
}


input[type=text]:focus {
    background-color: lightblue;
}

input[type=password]:focus {
    background-color: lightblue;
}

.session-submit {
    color: white;
    background-color: #1ddd7c;
}

.session-submit:hover {
    color: white;
    background-color: #139b57;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.welcomeImg {
object-fit: scale-down;
}

.alternative-links {
    display:flex;
    justify-content: center;
}
#alt-link {
color: white;
    margin: 3px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#demo-user {
    font-size: 100%;
    font-weight: normal;
    color: white;
    text-decoration: underline;
    background: transparent;
    border: none;
}

#demo-user:hover {
    
    cursor: pointer;
}

.login-signup a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}
