.home-page {
    height: 100%;
    width: 100%;
}

.home-page {
    height: 100%;
    width: 100%;
}

.home-page-window {
    height: 720px;
    width: 1750px;
    background: white;
    display: flex;
    justify-content: center;
    background-image: url("https://www.wallpapermaiden.com/wallpaper/19198/download/2560x1600/belgian-malinois-dog-running.jpg");
    object-fit: scale-down;
    }

#previous-walk-container {
    padding: 10px 0;
    height: 85%;
    width: 80%;
    Font: grey;
    
}

#previous-walk-container header {
    margin-top: 30px;
    padding: 0 0 5px;
    border: 0;
    color: #444444;
    font: 24px/16px "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #444444;
    font-weight: 600;
    line-height: normal;
}

.previous-thumbnails-container {
    border-top: 1px solid #c3c2c2;
    padding: 10px 0;
}

.walk-thumbnail{
    position: relative;
    overflow: hidden;
    margin: 3px 0 0 23px;
    height: 138px;
    width: 135px;
    float: left;
    background: lightblue;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    -webkit-font-smoothing: antialiased
}

.walk-info {
    font: black;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 75%;
    height: 34px;
    padding: 3px 10px;
    background: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.dashboard-title {
     display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 36px;
    color: white;
    letter-spacing: 6px;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.17;
    white-space: pre-line;
    font-family: 'Armour-Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif
}