.home-page {
    height: 100%;
    width: 100%;
}

.home-page {
    height: 100%;
    width: 100%;
}

.home-page-window {
    height: 720px;
    width: 1750px;
    background: white;
    display: flex;
    justify-content: center;
}

#previous-walk-container {
    border-top: 1px solid #c3c2c2;
    padding: 10px 0;
    border: 10px solid black;
    height: 85%;
    width: 80%;
    Font: grey;
}

#previous-walk-container header {
    margin-top: 30px;
    padding: 0 0 5px;
    border: 0;
    color: #444444;
    font: 24px/16px "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #444444;
    font-weight: 600;
    line-height: normal;
}

.previous-walk-thumbnails {
    border-top: 1px solid #c3c2c2;
    padding: 10px 0
}

.walk-thumbnail{
    height: 138px;
    width: 135px;
    background: green;
    -webkit-font-smoothing: antialiased
}