.home-page {
    height: 100%;
    width: 100%;
}

.home-page {
    height: 100%;
    width: 100%;
}

.home-page-window {
    height: 720px;
    width: 1750px;
    background: white;
    display: flex;
    justify-content: center;
}

#previous-walk-container {
        display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 10px solid black;
    height: 85%;
    width: 80%;
    Font: grey;
}

.walk-thumbnail{
    height: 100px;
    width: 100px;
    background: green;
}